<!DOCTYPE html>
<html>
<head>
  <title>Chain Chat</title>
  
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  
  <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
  <script
  src="{{ static_url("jquery-3.3.1.min.js") }}"
  >
</script>
<script type="text/javascript">
  server_location = "{{bind_ip_port}}";
</script>

<script src="{{ static_url("chat.js")}}"></script>
</head>
<body>
  <div id="header"></div>
  <div class="container">
    <div id="real_time" class="screen">
      <h2>Real Time</h2>
    </div>
    <div id="chain" class="screen">
      <h2>Chain</h2>
    </div>
  </div>
  <div id="msgbox">
    <span>name: </span>
    <input name="op_name" id="name_field" class="user_input"/>
    <span>opinion: </span>
    <input name="op_content" id="content_field" class="user_input"/>
    <button id="send", onclick="send_new_message();">Send</button>
  </div>
</body>
</html>
